@* @model IEnumerable<DemoMVC.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between w3-small">
    <b>Person List</b>
    <a class="btn btn-success" asp-action="Create">Add new +</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table> *@
 
 @model X.PagedList.IPagedList<MvcMovie.Models.Person>
 @using X.PagedList.Mvc.Core;
 
 <div class="d-flex justify-content-between w3-small">
    <b>Person List</b>
    <a class="btn btn-success" asp-action="Create">Add new +</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</div>
 <table class="table">
     <tr>
         <th>Tên</th>
         <th>Email</th>
     </tr>
     @foreach (var user in Model)
     {
         <tr>
             <td>@user.FullName</td>
             <td>@user.Address</td>
         </tr>
     }
 </table>
 @* <hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>  *@
 <!-- Hiển thị phân trang -->
 @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</table>